<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>
    <p class="footer-links">
      <a href="http://eamonnsdublinchipper.com">Eamonn's</a>
      <a href="http://www.restauranteve.com">Restaurant Eve</a>
      <a href="http://www.societyfair.net">Society Fair</a>
      <a href="http://www.barpx.com">PX</a>
    </p>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
      </div>

      <div class="footer-col footer-col-2">

      </div>

      <div class="footer-col footer-col-3">
      </div>
    </div>

  </div>

<script src="{{ "/js/instafeed.min.js" | prepend: site.baseurl }}"/></script>
<script src="{{ "/js/app.js" | prepend: site.baseurl }}"/></script>
<script src="{{ "/js/filter.js" | prepend: site.baseurl }}"/></script>

</footer>
