<div class="press-col-wrapper">

	<h1 class="page-heading">Recent Press</h1>

	{% assign press-by-date = site.data.press | sort: 'date' | reverse %}
	{% for press in press-by-date %}

    <div class="press-col press-col-1">

	 	<ul class="post-list">
		
		  <li>
		  	<a href="{{ press.link }}"><img class="logo" src="{{ press.logo }}" title="{{ press.source }}" alt="{{ press.source }}"/></a>
		    <a href="{{ press.link }}"><h1 class="press-title">{{ press.title }}</h1></a>
		    <p class="post-meta">{{ press.brand }} – <a href="{{ press.link }}">{{ press.source }}</a>: {{ press.date | date: '%b %d, %Y' }}</p>
		  </li>
		
		</ul>
	
	</div>
	{% endfor %}

</div>