<div class="press-col-wrapper">

	<h1 class="page-heading">Recent Press</h1>

	{% assign press-by-date = site.data.press | sort: 'date' | reverse %}
	{% for press in press-by-date %}

    <div class="press-col press-col-1">

	 	<ul class="post-list">
		
		  <li>
		    <a href="{{ press.link }}"><h1 class="press-title">{{ press.title }}</h1></a>
		    <p class="post-meta"><strong>{{ press.brand }}</strong>, {{ press.date | date: '%B %d, %Y' }} in <a href="{{ press.link }}">{{ press.source }}</a></p>
		  </li>
		
		</ul>
	
	</div>
	{% endfor %}

</div>